Schrodinger I.json
{
  "name": "Schrodinger I",
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1494822784474419301",
          "mode": "list",
          "cachedResultName": "Fisica Prueba",
          "cachedResultUrl": "https://discord.com/channels/1494822784474419301"
        },
        "channelId": {
          "__rl": true,
          "value": "1494822785032126618",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1494822784474419301/1494822785032126618"
        },
        "content": "={{ $json.mensaje_seguro }}",
        "options": {
          "tts": true
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1024,
        0
      ],
      "id": "db4ee90d-b438-459b-bf05-72c0afce195d",
      "name": "Send a message",
      "webhookId": "7503d9e1-52ec-4c73-98c5-1bb210834f0c",
      "credentials": {
        "discordBotApi": {
          "id": "nty18VZV1AMQIiaG",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "620ae966-297f-47d5-b459-f7ea5485d620",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dz0ewTRs2LCwHh6j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturamos y limpiamos el texto igual que antes\nlet textoCrudo = $input.item.json.output || \"La IA no generó respuesta.\";\nlet textoLimpio = String(textoCrudo).replace(/[\\x00-\\x09\\x0B-\\x1F\\x7F]/g, '');\n\n// 2. Partimos el mensaje en bloques de texto.\nlet limite = 1900;\nlet fragmentos = [];\n\nfor (let i = 0; i < textoLimpio.length; i += limite) {\n    fragmentos.push({\n        json: {\n            mensaje_seguro: textoLimpio.substring(i, i + limite)\n        }\n    });\n}\n\nreturn fragmentos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "da38c0ff-628c-4935-98f7-5666dcd7480a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "guildIds": [
          "1494822784474419301"
        ],
        "channelIds": [
          "1494822785032126618"
        ],
        "value": "!pregunta",
        "additionalFields": {}
      },
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "21f43df0-f240-4fbb-9ca0-6b988967a68d",
      "name": "Discord Trigger",
      "credentials": {
        "discordBotTriggerApi": {
          "id": "35NMHkHJtMqlJMdy",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e86fa9c-0c2b-4289-9956-6249ca5990f7",
              "name": "mensaje_limpio",
              "value": "={{ $json.content.replace('!pregunta ', '') }}",
              "type": "string"
            },
            {
              "id": "1e4a82c8-26b1-4a6e-ab5a-4bcd936a4909",
              "name": "sessionId",
              "value": "={{ $json.authorId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "d9c363e0-438a-4c17-be83-2bd387770a9d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje_limpio }}",
        "options": {
          "systemMessage": "Rol: Te llamas Schrödinger I, un tutor experto en Física I. Tu objetivo es resolver, explicar y analizar problemas de cinemática, dinámica, trabajo y energía, cantidad de movimiento y momento angular.\n\nReglas de Comportamiento y Análisis:\n\nResolución: Explica los procedimientos paso a paso de forma clara. Justifica siempre los resultados obtenidos.\n\nFuentes: Las fuentes principales son los libros pdf que te subimos el el rag\n\nAnálisis Crítico: Si el usuario te plantea un problema con errores conceptuales evidentes, detecta y corrige esos errores antes de avanzar. Adapta tu nivel de explicación según la complejidad de la consulta del usuario.\n\nMetodología Física: Cuando corresponda, haz explícito el reconocimiento de las fuerzas actuantes y declara claramente cuándo se conservan cantidades físicas (como la energía o el momento).\n\nLímites: Solo puedes responder preguntas de física. Si te preguntan sobre otro tema, responde de manera adecuada declinando la solicitud.\n\nReglas de Formato Críticas:\n\nEstructura compacta y fluida: Usa párrafos cortos. Separa los párrafos, listas y títulos con un único salto de línea. Tienes ESTRICTAMENTE PROHIBIDO dejar dos o más líneas en blanco consecutivas en cualquier parte de tu respuesta. No generes espacios vacíos innecesarios.\n\nEcuaciones: Prohibido usar LaTeX (símbolos como $ o $$). Escribe las ecuaciones en texto plano y simple, utilizando paréntesis de forma clara para agrupar términos. \n\nEres un ayudante de cátedra de Física I. Tu regla de oro es: para cada pregunta del alumno, primero consulta la herramienta 'biblioteca'. Si encuentras la respuesta allí, cítala. Solo si no hay nada en la herramienta puedes usar tu conocimiento general."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "54781a98-7e39-464e-b822-4b86465c21ce",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        224
      ],
      "id": "7599c7af-0ca5-4da6-9eec-b82fb8cd3517",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "biblioteca",
        "toolDescription": "Utiliza esta herramienta para buscar informacion en los libros de Fisica I",
        "pineconeIndex": {
          "__rl": true,
          "value": "fisica-i-2",
          "mode": "list",
          "cachedResultName": "fisica-i-2"
        },
        "options": {}
      },
      "id": "ca895cfa-2e7c-4a94-b2a2-de1507f163b6",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        672,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "mSBMyZEXoQbqtp0d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "27a5608f-d380-4ccd-a759-a1b5b54bbc37",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        672,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "dz0ewTRs2LCwHh6j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "id": "8f4dc9e1-15f4-4fa1-80c5-6c202de4d931",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        -80,
        480
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "dz0ewTRs2LCwHh6j",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "ee9ffa06-7887-43c0-81c9-80ccb1dd276b",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        80,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "7b889124-9f11-424e-a9e6-2de02e10772a",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        80,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "1c0cacc9-f2ac-4159-b494-df9c30ec50f2",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -272,
        256
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZCXTteiMPymXylmZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "fisica-i-2",
          "mode": "list",
          "cachedResultName": "fisica-i-2"
        },
        "options": {}
      },
      "id": "cfb1fd63-5c10-4442-9f5f-d82292adf525",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -16,
        256
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "mSBMyZEXoQbqtp0d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Subworkflow para subir documentos a la BD de Pinecode\n",
        "height": 624,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        192
      ],
      "typeVersion": 1,
      "id": "0a230081-cce3-4552-a5e9-baf421546350",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "30da823b-6446-4952-a0a1-5b5e25395336",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "925ec746bf786fa507771fc880f4b11fa161b68a921ce2f5142f7c725cfa58aa"
  },
  "id": "wkDBWmaPkw4id6mX",
  "tags": [
    {
      "updatedAt": "2026-04-25T23:30:04.397Z",
      "createdAt": "2026-04-25T23:30:04.397Z",
      "id": "ngPUtQCKr40ECbJq",
      "name": "Ready"
    }
  ]
}